/* APP */

body {
    background-color: #091a2b;
}

#app {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

button {
    padding: 10px 20px;
    background-color: #1369d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #110807;
}


/* HEADER */

.header-wrapper {
    background-color: #2479d3;
    color: #fff;
    text-align: center;
    min-width: 100%;
    max-width: 100%;
    border-radius: 20px;
    font-size: 12px;
}


/* ENTRIES GRID */

.entries-grid-wrapper {
    min-height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: #888888;
    border-radius: 20px;
}

.entries-header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.no-data {
    text-align: center;
    color: #4b0d06;
    background-color: #888888;
}

.entries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    gap: 5px;
    width: 100%;
}

.entry-item {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    overflow-x: auto;
    background-color: #ccc;
}

.entry-content {
    color: #091a2b;
}

.timestamp {
    color: #2479d3;
    font-style: italic;
}


/* EntriesFrom */

.form-wrapper {
    min-width: 100%;
    max-width: 100%;
    background-color: #f8f8f8;
    border-radius: 20px;
}

.form-container {
    padding: 10px;
}

.entries-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entries-form textarea[type="text"] {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}


/* Footer */

.footer-wrapper {
    width: 100%;
    margin: 0 auto;
}

#footer {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-logo {
    width: 70px;
    margin-right: 10px;
}

.copy {
    font-size: 12px;
    color: #888888;
}